@model AppSite.ViewModels.UserTypeViewModel

@{
    ViewData["Title"] = "Tipos de usuário | Remover";
}



<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Tipos de usuário</h3>
            </div>
        </div>
        <br />
        <div class="clearfix" style="margin-top:2em;margin-bottom:1em"><hr></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Tipos de usuário | Remover</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />

                        <div class="item form-group">
                            <label class="col-form-label col-md-1 col-sm-1 " asp-for="Name">
                                <label asp-for="Name" class="control-label "></label>
                            </label>
                            <div class="col-md-11 col-sm-11 ">
                                <input asp-for="Name" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group pull-right">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-arrow-left"></i> Voltar</a>
                                <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Remover</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
