@model AppSite.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Usuários | Nova";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Usuários</h3>
            </div>
        </div>
        <br />
        <div class="clearfix" style="margin-top:2em;margin-bottom:1em"><hr></div>

         @if (TempData["warning"] != null)
        {
            <div class="alert alert-warning alert-dismissible " role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>@TempData["warning"]</strong>
        </div>
        }

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Usuários | Criar</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />

                        <form asp-action="Create" class="form-horizontal form-label-left">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-1 col-sm-1 " asp-for="Name">
                                    <label asp-for="Name" class="control-label "></label>
                                </label>
                                <div class="col-md-11 col-sm-11 ">
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-1 col-sm-1 " asp-for="Email">
                                    <label asp-for="Email" class="control-label"></label>
                                </label>
                                <div class="col-md-11 col-sm-11 form-control border-0 ">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-1 col-sm-1 " asp-for="UserTypeId">
                                    <label asp-for="UserTypeId" class="control-label"></label>
                                </label>
                                <div class="col-md-11 col-sm-11 form-control border-0 ">
                                    <select asp-for="UserTypeId" class="form-control" asp-items="ViewBag.UserTypeId"></select>
                                    <span asp-validation-for="UserTypeId" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="item form-group">
                                <label class="col-form-label col-md-1 col-sm-1 " asp-for="Login">
                                    <label asp-for="Login" class="control-label"></label>
                                </label>
                                <div class="col-md-11 col-sm-11 form-control border-0 ">
                                    <input asp-for="Login" class="form-control" />
                                    <span asp-validation-for="Login" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-1 col-sm-1 " asp-for="Password">
                                    <label asp-for="Password" class="control-label"></label>
                                </label>
                                <div class="col-md-11 col-sm-11 form-control border-0 ">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group pull-right">
                                <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-arrow-left"></i> Voltar</a>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Criar </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
